.map {
  position: relative;
  min-height: 100dvh;
}

.responsive-control {
  position: relative;
  width: 100%;
  height: 100%;
}

.button-style {
  width: 100%;
  height: 3rem;
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.exit-button{
  width: 15%;
}

.settings-button {
  width: 15%;
}

.settings{
  color: black;
}