.pending-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 1em 1rem;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.pending-container:hover {
  background-color: #f5f5f5;
}

.buttons-container {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pending-button {
  /*width: 1rem;*/
}

.pending-button:hover {
  background-color: #e5e5e5;
}
